extends layout
block controller
    script(src='/javascripts/chatcontroller.js')
block content
    .section.create
        .container(ng-controller='ChatController')
            .row(style='margin-top: 5%;')
                h1  Hi, #{name}!
            
            form(ng-submit='create()')
                .row
                    h2 
                       | What's your meeting name?
                .row
                    input(type="text", name="name", style='margin-top: 10%;', ng-model='meetingName', value='Team Meeting')
                .row
                    input#vote-button(type='submit', value='Create Meeting')
    .section.leader
        .container
            .row(style='margin-top: 5%;')
                h1 Send this link to your team:
            .row
                h3 #{url}
    .section.waiting
      .container
        .row
          h3  Waiting for Others...
    .section.main(style="display:none")
      .container(ng-controller='ChatController')
        .row(style='margin-bottom: 5%;')
          h1  How Long Should Your Meeting Take?
        form(ng-submit='vote()')
          .row
            select(ng-model='hours', value='0')
              option(value='0') 0
              option(value='1') 1
              option(value='2') 2
              option(value='3') 3
              option(value='4') 4
            |  hrs.
            select#minutes(ng-model='minutes', value='0')
              option(value='0') 0
              option(value='5') 5
              option(value='10') 10
              option(value='15') 15
              option(value='20') 20
              option(value='25') 25
              option(value='30') 30
              option(value='35') 35
              option(value='40') 40
              option(value='45') 45
              option(value='5') 50
              option(value='55') 55
            |  min.
          .row
            // <div class="span2"><input type="text" class="input-block-level" ng-model="name" ng-change="setName()" placeholder="Your Name"></div>
            input#vote-button(type='submit', value='VOTE')
    
    .section.data
      .container
        .row
          h3  Voting Results
        .row
          #canvas.twelve.column
            canvas#projector Your browser does not support the Canvas element.
        .row
          h3  DO YOUR MEETING IN
          h1#time
    
    .section.start(style="display:none")
      .container(ng-controller='ChatController')
        form(ng-submit='start()')
            input#vote-button(type='submit', value='START MEETING')
    
    .section.go(style="display:none")
      .container
        .row(style='margin-top: 10%;')
            h1  GO! Make your time count!
    
    .section.end(style="display:none")
      .container(ng-controller='ChatController')
        form(ng-submit='end()')
            input#vote-button(type='submit', value='END MEETING')
            